.white-color {
  color: "#FFFFFF" !important;
}

.primary-color {
  color: #005457 !important;
}

.bg-primary {
  background-color: #005457 !important;
  color: white !important;
}

.bg-secondary {
  background-color: #00c4b4 !important;
  color: white !important;
}

.bg-third {
  background-color: white !important;
  color: #005457 !important;
}

.login-image,
.register-image {
  width: 500px;
  height: 500px;
}

.login-card,
.register-card {
  margin-top: 100px;
  height: 650px;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid #005457;
}

.dashboard-card {
  min-height: 250px;
  border: 0;
  border-radius: 16px;
}

.goal-card {
  height: 600px;
  width: 600px;
}

.view-goal-card {
  margin-top: 100px;
  min-height: 600px;
  min-width: 600px;
}

.chart {
  max-height: 150px;
  max-width: 100%;
}

.search-result-div {
  top: 50px;
  border-radius: 8px;
  margin-left: 5px;
}

.profile {
  width: 100vw;
  border-radius: 0;
}

.profile-div {
  width: 100vw !important;
}

.connections {
  padding-top: 80px;
}

.create-post,
.posts {
  background-color: #005457;
  color: #fff;
}

.create-post input,
.create-post input::after,
.create-post input::before,
.create-post input:active,
.create-post input:focus {
  background-color: #005457;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
}

.create-post input::placeholder {
  color: white;
}

.create-post button {
  background-color: #005457;
  border: 2px solid white;
  color: white;
}

.notification {
  background-color: #005457;
  color: white;
}
